In [1]:
import pandas as pd
import numpy as npplò7

In [2]:
df = pd.read_csv('train.csv')

In [3]:
print(df.shape)
df.head(1)

(1804874, 45)

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.0,"This is so cool. It's like, 'would you want yo...",0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4

In [4]:
df_test = pd.read_csv('test.csv')
print(df_test.shape)
df_test.head(2)

(97320, 2)

        id                                       comment_text
0  7000000  Jeff Sessions is another one of Trump's Orwell...
1  7000001  I actually inspected the infrastructure on Gra...

In [5]:
sample = pd.read_csv('sample_submission.csv')
print(sample.shape)
sample.sample(2)

(97320, 2)

            id  prediction
9203   7009203         0.0
56035  7056035         0.0

In [6]:
# Deleting all the columns with null values
columns_to_drop = df.columns[df.isnull().sum()>0]

In [7]:
df = df.drop(columns_to_drop,axis=1)
print(df.isnull().sum()[:2])

id        0
target    0
dtype: int64

In [8]:
df.head(2)

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,created_date,publication_id,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.0,"This is so cool. It's like, 'would you want yo...",0.0,0.0,0.0,0.0,0.0,2015-09-29 10:50:41.987077+00,2,2006,rejected,0,0,0,0,0,0.0,0,4
1,59849,0.0,Thank you!! This would make my life a lot less...,0.0,0.0,0.0,0.0,0.0,2015-09-29 10:50:42.870083+00,2,2006,rejected,0,0,0,0,0,0.0,0,4

In [9]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/luigibungaro/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [10]:
df['comment_text'][0]

"This is so cool. It's like, 'would you want your mother to read this??' Really great idea, well done!"

In [ ]:
# x = word_tokenize(df['comment_text'][0])

In [11]:
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'\w+')
x = tokenizer.tokenize(df['comment_text'][0])

In [12]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words=set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/luigibungaro/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
filtered_sent=[]
for w in x:
    if w not in stop_words:
        filtered_sent.append(w)

In [14]:
embedding = pd.read_csv('numberbatch-en-17.06.txt',delimiter=' ',header=None)
print(embedding.shape)
embedding.sample(2)

(417194, 301)

,0,1,2,3,4,5,6,7,8,9,...,291,292,293,294,295,296,297,298,299,300
15586,anguilla,-0.1375,-0.0025,0.0629,0.0178,-0.0375,0.0451,0.0994,0.1234,-0.0238,...,-0.0029,0.0484,-0.0511,0.0313,0.0055,0.0216,0.0552,0.0116,0.1056,-0.0649
132071,felinity,-0.0217,-0.0653,0.0568,0.1026,0.1747,0.0759,-0.0519,0.0207,-0.1229,...,-0.0006,0.0326,-0.0024,0.0755,-0.0034,-0.0273,0.0556,-0.0104,0.0788,-0.0143

In [15]:
def preprocessing_string(string):
    x = tokenizer.tokenize(string)
    filtered_sent=[]
    for w in x:
        if w not in stop_words:
            filtered_sent.append(w)
    return filtered_sent

In [16]:
fgh = preprocessing_string("This is so cool. It's like, 'would you want your mother to read this??' Really great idea, well done!")

In [17]:
len(df['comment_text'])

1804874

In [18]:
# text value
x = df['comment_text'][0]
x

"This is so cool. It's like, 'would you want your mother to read this??' Really great idea, well done!"

In [19]:
# target value
df[df['comment_text']==x]['target'].values[0]

0.0

In [53]:
data = []
labels = []
j=0
for i in df['comment_text'][:20000]:
    j+=1
    print(j, end='\r')
    preprocessed_string = preprocessing_string(i)
    # print(preprocessed_string)
    if embedding[0].isin(list(preprocessed_string)).sum()==0:
        data.append(np.array([0.1]*300))
    else:
        embedded_vector = embedding[embedding[0].isin(preprocessed_string)][embedding.columns[1:]].mean().values
        # print(type(embedded_vector))
        data.append(embedded_vector)
data = np.array(data)
print(data.shape)
labels = df.target
# labels

(20000, 300)

In [54]:
df_final = pd.DataFrame(data,columns=None)
df_final['target']=labels

In [55]:
df_final.to_pickle('df_final.pkl')

In [56]:
df_final = pd.read_pickle('df_final.pkl')

In [57]:
print(df.shape)

(1804874, 20)

In [58]:
df_final.head(2)

,0,1,2,3,4,5,6,7,8,9,...,291,292,293,294,295,296,297,298,299,target
0,0.159480,0.136200,0.025170,-0.009980,0.021080,-0.01213,0.121980,-0.069570,-0.049690,0.092570,...,-0.027710,-0.002890,0.007430,0.038270,0.034800,-0.005830,-0.010490,-0.011680,-0.023620,0.0
1,0.186845,0.125036,0.017573,-0.036018,0.021982,-0.09090,0.096555,0.006936,-0.074545,0.067818,...,-0.021809,-0.013818,-0.020982,0.009927,0.013982,-0.019973,0.006991,0.022091,0.007345,0.0

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_final[df_final.columns[:-1]], df_final['target'],
                                                    test_size = 0.2, random_state = 0)

In [60]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [61]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 400, init = 'uniform', activation = 'relu', input_dim = 300))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 200, init = 'uniform', activation = 'relu'))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 100, init = 'uniform', activation = 'relu'))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 50, init = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

adam = keras.optimizers.Adam(lr=0.00011)
# Compiling the ANN
classifier.compile(optimizer = adam, loss = 'mean_squared_error', metrics = ['mae'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 100, epochs = 200)

/Users/luigibungaro/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=300, units=400, kernel_initializer="uniform")`
  """
/Users/luigibungaro/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=200, kernel_initializer="uniform")`

/Users/luigibungaro/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=100, kernel_initializer="uniform")`
  # This is added back by InteractiveShellApp.init_path()
/Users/luigibungaro/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:14: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=50, kernel_initializer="uniform")`

/Users/luigibungaro/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:17: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

Epoch 1/200
16000/16000 [==============================] - 2s 104us/step - loss: 0.1398 - mean_absolute_error: 0.3330
Epoch 2/200
16000/16000 [==============================] - 1s 66us/step - loss: 0.0318 - mean_absolute_error: 0.1231: 0s - loss: 0.0318 - mean_absolute_error: 0.123
Epoch 3/200
16000/16000 [==============================] - 1s 67us/step - loss: 0.0296 - mean_absolute_error: 0.1212
Epoch 4/200
16000/16000 [==============================] - 1s 66us/step - loss: 0.0272 - mean_absolute_error: 0.1166
Epoch 5/200
16000/16000 [==============================] - 1s 67us/step - loss: 0.0249 - mean_absolute_error: 0.1104
Epoch 6/200
16000/16000 [==============================] - 1s 67us/step - loss: 0.0229 - mean_absolute_error: 0.1036
Epoch 7/200
16000/16000 [==============================] - 1s 71us/step - loss: 0.0213 - mean_absolute_error: 0.0971
Epoch 8/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0201 - mean_absolute_error: 0.0920
Epoch 9/200
16000/16000 [==============================] - 1s 73us/step - loss: 0.0191 - mean_absolute_error: 0.0881
Epoch 10/200
16000/16000 [==============================] - 1s 70us/step - loss: 0.0183 - mean_absolute_error: 0.0847
Epoch 11/200
16000/16000 [==============================] - 1s 69us/step - loss: 0.0177 - mean_absolute_error: 0.0823
Epoch 12/200
16000/16000 [==============================] - 1s 71us/step - loss: 0.0171 - mean_absolute_error: 0.0804
Epoch 13/200
16000/16000 [==============================] - 1s 72us/step - loss: 0.0164 - mean_absolute_error: 0.0784
Epoch 14/200
16000/16000 [==============================] - 1s 69us/step - loss: 0.0160 - mean_absolute_error: 0.0764
Epoch 15/200
16000/16000 [==============================] - 1s 71us/step - loss: 0.0156 - mean_absolute_error: 0.0752
Epoch 16/200
16000/16000 [==============================] - 1s 71us/step - loss: 0.0151 - mean_absolute_error: 0.0740
Epoch 17/200
16000/16000 [==============================] - 1s 88us/step - loss: 0.0147 - mean_absolute_error: 0.0729
Epoch 18/200
16000/16000 [==============================] - 1s 73us/step - loss: 0.0143 - mean_absolute_error: 0.0715
Epoch 19/200
16000/16000 [==============================] - 1s 71us/step - loss: 0.0140 - mean_absolute_error: 0.0705
Epoch 20/200
16000/16000 [==============================] - 1s 72us/step - loss: 0.0136 - mean_absolute_error: 0.0697
Epoch 21/200
16000/16000 [==============================] - 1s 72us/step - loss: 0.0133 - mean_absolute_error: 0.0684
Epoch 22/200
16000/16000 [==============================] - 1s 71us/step - loss: 0.0129 - mean_absolute_error: 0.0677
Epoch 23/200
16000/16000 [==============================] - 1s 72us/step - loss: 0.0126 - mean_absolute_error: 0.0664
Epoch 24/200
16000/16000 [==============================] - 1s 74us/step - loss: 0.0122 - mean_absolute_error: 0.0652
Epoch 25/200
16000/16000 [==============================] - 1s 72us/step - loss: 0.0119 - mean_absolute_error: 0.0645
Epoch 26/200
16000/16000 [==============================] - 1s 86us/step - loss: 0.0115 - mean_absolute_error: 0.0631
Epoch 27/200
16000/16000 [==============================] - 1s 74us/step - loss: 0.0112 - mean_absolute_error: 0.0622
Epoch 28/200
16000/16000 [==============================] - 1s 70us/step - loss: 0.0108 - mean_absolute_error: 0.0604
Epoch 29/200
16000/16000 [==============================] - 1s 70us/step - loss: 0.0105 - mean_absolute_error: 0.0593
Epoch 30/200
16000/16000 [==============================] - 1s 72us/step - loss: 0.0101 - mean_absolute_error: 0.0576
Epoch 31/200
16000/16000 [==============================] - 1s 73us/step - loss: 0.0097 - mean_absolute_error: 0.0564
Epoch 32/200
16000/16000 [==============================] - 1s 75us/step - loss: 0.0093 - mean_absolute_error: 0.0553
Epoch 33/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0092 - mean_absolute_error: 0.0547
Epoch 34/200
16000/16000 [==============================] - 1s 72us/step - loss: 0.0088 - mean_absolute_error: 0.0527
Epoch 35/200
16000/16000 [==============================] - 1s 74us/step - loss: 0.0084 - mean_absolute_error: 0.0516
Epoch 36/200
16000/16000 [==============================] - 1s 76us/step - loss: 0.0081 - mean_absolute_error: 0.0501
Epoch 37/200
16000/16000 [==============================] - 1s 75us/step - loss: 0.0080 - mean_absolute_error: 0.0498
Epoch 38/200
16000/16000 [==============================] - 1s 76us/step - loss: 0.0077 - mean_absolute_error: 0.0484
Epoch 39/200
16000/16000 [==============================] - 1s 76us/step - loss: 0.0074 - mean_absolute_error: 0.0474
Epoch 40/200
16000/16000 [==============================] - 1s 77us/step - loss: 0.0073 - mean_absolute_error: 0.0468
Epoch 41/200
16000/16000 [==============================] - 1s 77us/step - loss: 0.0071 - mean_absolute_error: 0.0462
Epoch 42/200
16000/16000 [==============================] - 1s 76us/step - loss: 0.0068 - mean_absolute_error: 0.0452
Epoch 43/200
16000/16000 [==============================] - 1s 92us/step - loss: 0.0065 - mean_absolute_error: 0.0446
Epoch 44/200
16000/16000 [==============================] - 1s 78us/step - loss: 0.0063 - mean_absolute_error: 0.0435
Epoch 45/200
16000/16000 [==============================] - 1s 77us/step - loss: 0.0061 - mean_absolute_error: 0.0425
Epoch 46/200
16000/16000 [==============================] - 1s 70us/step - loss: 0.0059 - mean_absolute_error: 0.0419
Epoch 47/200
16000/16000 [==============================] - 2s 98us/step - loss: 0.0058 - mean_absolute_error: 0.0415
Epoch 48/200
16000/16000 [==============================] - 1s 83us/step - loss: 0.0057 - mean_absolute_error: 0.0409
Epoch 49/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0055 - mean_absolute_error: 0.0405
Epoch 50/200
16000/16000 [==============================] - 1s 89us/step - loss: 0.0053 - mean_absolute_error: 0.0395
Epoch 51/200
16000/16000 [==============================] - 1s 87us/step - loss: 0.0052 - mean_absolute_error: 0.0389
Epoch 52/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0051 - mean_absolute_error: 0.0383
Epoch 53/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0050 - mean_absolute_error: 0.0380
Epoch 54/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0049 - mean_absolute_error: 0.0373
Epoch 55/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0048 - mean_absolute_error: 0.0367
Epoch 56/200
16000/16000 [==============================] - ETA: 0s - loss: 0.0048 - mean_absolute_error: 0.036 - 1s 84us/step - loss: 0.0048 - mean_absolute_error: 0.0365
Epoch 57/200
16000/16000 [==============================] - 1s 91us/step - loss: 0.0047 - mean_absolute_error: 0.0361
Epoch 58/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0045 - mean_absolute_error: 0.0352
Epoch 59/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0045 - mean_absolute_error: 0.0352
Epoch 60/200
16000/16000 [==============================] - 1s 80us/step - loss: 0.0045 - mean_absolute_error: 0.0350
Epoch 61/200
16000/16000 [==============================] - 1s 83us/step - loss: 0.0044 - mean_absolute_error: 0.0344
Epoch 62/200
16000/16000 [==============================] - 1s 67us/step - loss: 0.0043 - mean_absolute_error: 0.0340
Epoch 63/200
16000/16000 [==============================] - 1s 83us/step - loss: 0.0042 - mean_absolute_error: 0.0338
Epoch 64/200
16000/16000 [==============================] - 1s 88us/step - loss: 0.0041 - mean_absolute_error: 0.0331
Epoch 65/200
16000/16000 [==============================] - 1s 90us/step - loss: 0.0041 - mean_absolute_error: 0.0330
Epoch 66/200
16000/16000 [==============================] - 1s 83us/step - loss: 0.0040 - mean_absolute_error: 0.0325
Epoch 67/200
16000/16000 [==============================] - 1s 85us/step - loss: 0.0040 - mean_absolute_error: 0.0326
Epoch 68/200
16000/16000 [==============================] - 1s 85us/step - loss: 0.0039 - mean_absolute_error: 0.0319
Epoch 69/200

16000/16000 [==============================] - 1s 86us/step - loss: 0.0039 - mean_absolute_error: 0.0320
Epoch 70/200
16000/16000 [==============================] - 1s 69us/step - loss: 0.0039 - mean_absolute_error: 0.0315
Epoch 71/200
16000/16000 [==============================] - 1s 71us/step - loss: 0.0038 - mean_absolute_error: 0.0312
Epoch 72/200
16000/16000 [==============================] - 1s 71us/step - loss: 0.0037 - mean_absolute_error: 0.0308
Epoch 73/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0037 - mean_absolute_error: 0.0307
Epoch 74/200
16000/16000 [==============================] - 1s 71us/step - loss: 0.0036 - mean_absolute_error: 0.0301
Epoch 75/200
16000/16000 [==============================] - 1s 78us/step - loss: 0.0037 - mean_absolute_error: 0.0308
Epoch 76/200
16000/16000 [==============================] - 1s 83us/step - loss: 0.0036 - mean_absolute_error: 0.0297
Epoch 77/200
16000/16000 [==============================] - 1s 88us/step - loss: 0.0035 - mean_absolute_error: 0.0295
Epoch 78/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0035 - mean_absolute_error: 0.0291
Epoch 79/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0035 - mean_absolute_error: 0.0289
Epoch 80/200
16000/16000 [==============================] - 1s 78us/step - loss: 0.0034 - mean_absolute_error: 0.0285
Epoch 81/200
16000/16000 [==============================] - 1s 73us/step - loss: 0.0034 - mean_absolute_error: 0.0283
Epoch 82/200
16000/16000 [==============================] - 1s 74us/step - loss: 0.0034 - mean_absolute_error: 0.0284
Epoch 83/200
16000/16000 [==============================] - 1s 74us/step - loss: 0.0034 - mean_absolute_error: 0.0284
Epoch 84/200
16000/16000 [==============================] - 1s 86us/step - loss: 0.0033 - mean_absolute_error: 0.0278
Epoch 85/200
16000/16000 [==============================] - 1s 76us/step - loss: 0.0034 - mean_absolute_error: 0.0282
Epoch 86/200
16000/16000 [==============================] - 1s 74us/step - loss: 0.0033 - mean_absolute_error: 0.0277
Epoch 87/200
16000/16000 [==============================] - 1s 75us/step - loss: 0.0033 - mean_absolute_error: 0.0274
Epoch 88/200
16000/16000 [==============================] - 1s 74us/step - loss: 0.0033 - mean_absolute_error: 0.0275
Epoch 89/200
16000/16000 [==============================] - 1s 74us/step - loss: 0.0033 - mean_absolute_error: 0.0276
Epoch 90/200
16000/16000 [==============================] - 1s 76us/step - loss: 0.0032 - mean_absolute_error: 0.0267
Epoch 91/200
16000/16000 [==============================] - 1s 76us/step - loss: 0.0031 - mean_absolute_error: 0.0266
Epoch 92/200
16000/16000 [==============================] - 1s 76us/step - loss: 0.0031 - mean_absolute_error: 0.0262
Epoch 93/200
16000/16000 [==============================] - 1s 77us/step - loss: 0.0031 - mean_absolute_error: 0.0263
Epoch 94/200
16000/16000 [==============================] - 1s 84us/step - loss: 0.0031 - mean_absolute_error: 0.0263
Epoch 95/200
16000/16000 [==============================] - 1s 84us/step - loss: 0.0031 - mean_absolute_error: 0.0260
Epoch 96/200
16000/16000 [==============================] - 1s 80us/step - loss: 0.0030 - mean_absolute_error: 0.0257
Epoch 97/200
16000/16000 [==============================] - 1s 79us/step - loss: 0.0030 - mean_absolute_error: 0.0253
Epoch 98/200
16000/16000 [==============================] - 1s 83us/step - loss: 0.0030 - mean_absolute_error: 0.0255
Epoch 99/200
16000/16000 [==============================] - 1s 76us/step - loss: 0.0029 - mean_absolute_error: 0.0249
Epoch 100/200
16000/16000 [==============================] - 1s 89us/step - loss: 0.0029 - mean_absolute_error: 0.0243
Epoch 101/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0029 - mean_absolute_error: 0.0248
Epoch 102/200
16000/16000 [==============================] - 1s 93us/step - loss: 0.0032 - mean_absolute_error: 0.0269
Epoch 103/200
16000/16000 [==============================] - 1s 86us/step - loss: 0.0030 - mean_absolute_error: 0.0253
Epoch 104/200
16000/16000 [==============================] - 1s 84us/step - loss: 0.0028 - mean_absolute_error: 0.0244
Epoch 105/200
16000/16000 [==============================] - 1s 87us/step - loss: 0.0028 - mean_absolute_error: 0.0241
Epoch 106/200
16000/16000 [==============================] - 1s 85us/step - loss: 0.0027 - mean_absolute_error: 0.0236
Epoch 107/200
16000/16000 [==============================] - 1s 85us/step - loss: 0.0027 - mean_absolute_error: 0.0232
Epoch 108/200
16000/16000 [==============================] - 1s 80us/step - loss: 0.0028 - mean_absolute_error: 0.0239
Epoch 109/200
16000/16000 [==============================] - 1s 79us/step - loss: 0.0029 - mean_absolute_error: 0.0248
Epoch 110/200
16000/16000 [==============================] - 1s 78us/step - loss: 0.0027 - mean_absolute_error: 0.0238
Epoch 111/200
16000/16000 [==============================] - 1s 78us/step - loss: 0.0027 - mean_absolute_error: 0.0234
Epoch 112/200
16000/16000 [==============================] - 1s 78us/step - loss: 0.0027 - mean_absolute_error: 0.0233
Epoch 113/200
16000/16000 [==============================] - 1s 87us/step - loss: 0.0026 - mean_absolute_error: 0.0226
Epoch 114/200
16000/16000 [==============================] - 1s 80us/step - loss: 0.0027 - mean_absolute_error: 0.0231
Epoch 115/200
16000/16000 [==============================] - 1s 87us/step - loss: 0.0026 - mean_absolute_error: 0.0226
Epoch 116/200
16000/16000 [==============================] - 1s 83us/step - loss: 0.0026 - mean_absolute_error: 0.0223
Epoch 117/200
16000/16000 [==============================] - 1s 83us/step - loss: 0.0025 - mean_absolute_error: 0.0218
Epoch 118/200
16000/16000 [==============================] - 1s 79us/step - loss: 0.0025 - mean_absolute_error: 0.0223
Epoch 119/200
16000/16000 [==============================] - 1s 86us/step - loss: 0.0025 - mean_absolute_error: 0.0224
Epoch 120/200
16000/16000 [==============================] - 2s 95us/step - loss: 0.0025 - mean_absolute_error: 0.0224
Epoch 121/200
16000/16000 [==============================] - 1s 88us/step - loss: 0.0025 - mean_absolute_error: 0.0218: 1s - loss: 0.0021 - mea
Epoch 122/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0025 - mean_absolute_error: 0.0218
Epoch 123/200
16000/16000 [==============================] - 1s 87us/step - loss: 0.0024 - mean_absolute_error: 0.0210
Epoch 124/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0024 - mean_absolute_error: 0.0211
Epoch 125/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0024 - mean_absolute_error: 0.0212
Epoch 126/200
16000/16000 [==============================] - 1s 80us/step - loss: 0.0025 - mean_absolute_error: 0.0222
Epoch 127/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0024 - mean_absolute_error: 0.0210
Epoch 128/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0023 - mean_absolute_error: 0.0204
Epoch 129/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0023 - mean_absolute_error: 0.0201
Epoch 130/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0023 - mean_absolute_error: 0.0202
Epoch 131/200
16000/16000 [==============================] - 1s 84us/step - loss: 0.0023 - mean_absolute_error: 0.0200
Epoch 132/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0022 - mean_absolute_error: 0.0194
Epoch 133/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0023 - mean_absolute_error: 0.0200
Epoch 134/200
16000/16000 [==============================] - 1s 85us/step - loss: 0.0022 - mean_absolute_error: 0.0200
Epoch 135/200
16000/16000 [==============================] - 1s 84us/step - loss: 0.0022 - mean_absolute_error: 0.0199
Epoch 136/200
16000/16000 [==============================] - 1s 83us/step - loss: 0.0022 - mean_absolute_error: 0.0197
Epoch 137/200
16000/16000 [==============================] - 1s 83us/step - loss: 0.0021 - mean_absolute_error: 0.0192
Epoch 138/200

16000/16000 [==============================] - 1s 71us/step - loss: 0.0021 - mean_absolute_error: 0.0191
Epoch 139/200
16000/16000 [==============================] - 1s 69us/step - loss: 0.0022 - mean_absolute_error: 0.0195
Epoch 140/200
16000/16000 [==============================] - 1s 70us/step - loss: 0.0021 - mean_absolute_error: 0.0189
Epoch 141/200
16000/16000 [==============================] - 1s 89us/step - loss: 0.0020 - mean_absolute_error: 0.0182
Epoch 142/200
16000/16000 [==============================] - 1s 88us/step - loss: 0.0021 - mean_absolute_error: 0.0193
Epoch 143/200
16000/16000 [==============================] - 1s 87us/step - loss: 0.0020 - mean_absolute_error: 0.0181
Epoch 144/200
16000/16000 [==============================] - 2s 98us/step - loss: 0.0020 - mean_absolute_error: 0.0180
Epoch 145/200
16000/16000 [==============================] - 1s 72us/step - loss: 0.0020 - mean_absolute_error: 0.0182
Epoch 146/200
16000/16000 [==============================] - 1s 72us/step - loss: 0.0020 - mean_absolute_error: 0.0180
Epoch 147/200
16000/16000 [==============================] - 1s 71us/step - loss: 0.0020 - mean_absolute_error: 0.0179
Epoch 148/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0020 - mean_absolute_error: 0.0172
Epoch 149/200
16000/16000 [==============================] - 1s 83us/step - loss: 0.0020 - mean_absolute_error: 0.0183
Epoch 150/200
16000/16000 [==============================] - 1s 76us/step - loss: 0.0020 - mean_absolute_error: 0.0178
Epoch 151/200
16000/16000 [==============================] - 1s 74us/step - loss: 0.0019 - mean_absolute_error: 0.0171
Epoch 152/200
16000/16000 [==============================] - 1s 73us/step - loss: 0.0019 - mean_absolute_error: 0.0164
Epoch 153/200
16000/16000 [==============================] - 1s 88us/step - loss: 0.0019 - mean_absolute_error: 0.0171
Epoch 154/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0020 - mean_absolute_error: 0.0174
Epoch 155/200
16000/16000 [==============================] - 2s 95us/step - loss: 0.0019 - mean_absolute_error: 0.0165
Epoch 156/200
16000/16000 [==============================] - 1s 78us/step - loss: 0.0019 - mean_absolute_error: 0.0165
Epoch 157/200
16000/16000 [==============================] - 1s 87us/step - loss: 0.0018 - mean_absolute_error: 0.0160
Epoch 158/200
16000/16000 [==============================] - 1s 79us/step - loss: 0.0019 - mean_absolute_error: 0.0173
Epoch 159/200
16000/16000 [==============================] - 1s 85us/step - loss: 0.0019 - mean_absolute_error: 0.0166
Epoch 160/200
16000/16000 [==============================] - 1s 92us/step - loss: 0.0018 - mean_absolute_error: 0.0164
Epoch 161/200
16000/16000 [==============================] - 1s 84us/step - loss: 0.0019 - mean_absolute_error: 0.0165
Epoch 162/200
16000/16000 [==============================] - 1s 91us/step - loss: 0.0018 - mean_absolute_error: 0.0159
Epoch 163/200
16000/16000 [==============================] - 1s 75us/step - loss: 0.0018 - mean_absolute_error: 0.0159
Epoch 164/200
16000/16000 [==============================] - 1s 84us/step - loss: 0.0018 - mean_absolute_error: 0.0160
Epoch 165/200
16000/16000 [==============================] - 1s 66us/step - loss: 0.0019 - mean_absolute_error: 0.0161
Epoch 166/200
16000/16000 [==============================] - 1s 65us/step - loss: 0.0019 - mean_absolute_error: 0.0162
Epoch 167/200
16000/16000 [==============================] - 1s 88us/step - loss: 0.0018 - mean_absolute_error: 0.0159
Epoch 168/200
16000/16000 [==============================] - 2s 97us/step - loss: 0.0018 - mean_absolute_error: 0.0152
Epoch 169/200
16000/16000 [==============================] - 1s 86us/step - loss: 0.0018 - mean_absolute_error: 0.0152
Epoch 170/200
16000/16000 [==============================] - 1s 92us/step - loss: 0.0018 - mean_absolute_error: 0.0153
Epoch 171/200
16000/16000 [==============================] - 1s 78us/step - loss: 0.0018 - mean_absolute_error: 0.0160
Epoch 172/200
16000/16000 [==============================] - 1s 84us/step - loss: 0.0017 - mean_absolute_error: 0.0149
Epoch 173/200
16000/16000 [==============================] - 1s 84us/step - loss: 0.0017 - mean_absolute_error: 0.0151
Epoch 174/200
16000/16000 [==============================] - 1s 77us/step - loss: 0.0017 - mean_absolute_error: 0.0149
Epoch 175/200
16000/16000 [==============================] - 1s 85us/step - loss: 0.0018 - mean_absolute_error: 0.0154
Epoch 176/200
16000/16000 [==============================] - 2s 119us/step - loss: 0.0017 - mean_absolute_error: 0.0144 1s - loss: 0.00
Epoch 177/200
16000/16000 [==============================] - 2s 106us/step - loss: 0.0017 - mean_absolute_error: 0.0144
Epoch 178/200
16000/16000 [==============================] - 1s 86us/step - loss: 0.0017 - mean_absolute_error: 0.0152
Epoch 179/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0017 - mean_absolute_error: 0.0147
Epoch 180/200
16000/16000 [==============================] - 1s 79us/step - loss: 0.0017 - mean_absolute_error: 0.0142
Epoch 181/200
16000/16000 [==============================] - 1s 77us/step - loss: 0.0017 - mean_absolute_error: 0.0144
Epoch 182/200
16000/16000 [==============================] - 1s 80us/step - loss: 0.0017 - mean_absolute_error: 0.0154
Epoch 183/200
16000/16000 [==============================] - 1s 80us/step - loss: 0.0016 - mean_absolute_error: 0.0139
Epoch 184/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0016 - mean_absolute_error: 0.0137
Epoch 185/200
16000/16000 [==============================] - 1s 87us/step - loss: 0.0016 - mean_absolute_error: 0.0136
Epoch 186/200
16000/16000 [==============================] - 1s 88us/step - loss: 0.0016 - mean_absolute_error: 0.0139
Epoch 187/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0017 - mean_absolute_error: 0.0148
Epoch 188/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0017 - mean_absolute_error: 0.0141
Epoch 189/200
16000/16000 [==============================] - 1s 80us/step - loss: 0.0016 - mean_absolute_error: 0.0134
Epoch 190/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0016 - mean_absolute_error: 0.0132
Epoch 191/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0016 - mean_absolute_error: 0.0134
Epoch 192/200
16000/16000 [==============================] - 1s 83us/step - loss: 0.0016 - mean_absolute_error: 0.0130
Epoch 193/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0016 - mean_absolute_error: 0.0133
Epoch 194/200
16000/16000 [==============================] - 2s 96us/step - loss: 0.0016 - mean_absolute_error: 0.0139
Epoch 195/200
16000/16000 [==============================] - 1s 84us/step - loss: 0.0016 - mean_absolute_error: 0.0132
Epoch 196/200
16000/16000 [==============================] - 1s 94us/step - loss: 0.0015 - mean_absolute_error: 0.0127
Epoch 197/200
16000/16000 [==============================] - 1s 81us/step - loss: 0.0015 - mean_absolute_error: 0.0126
Epoch 198/200
16000/16000 [==============================] - 1s 86us/step - loss: 0.0016 - mean_absolute_error: 0.0136
Epoch 199/200
16000/16000 [==============================] - 1s 82us/step - loss: 0.0016 - mean_absolute_error: 0.0139
Epoch 200/200
16000/16000 [==============================] - 1s 85us/step - loss: 0.0016 - mean_absolute_error: 0.0135

In [62]:
y_pred = classifier.predict(X_test)

In [63]:
test = pd.read_csv('k_toxicity/test.csv')

In [64]:
print(test.shape)
test.head(2)

(97320, 2)

        id                                       comment_text
0  7000000  Jeff Sessions is another one of Trump's Orwell...
1  7000001  I actually inspected the infrastructure on Gra...

In [65]:
data = []
labels = []
j=0
for i in test['comment_text']:
    j+=1
    print(j, end='\r')
    preprocessed_string = preprocessing_string(i)
    # print(preprocessed_string)
    if embedding[0].isin(list(preprocessed_string)).sum()==0:
        data.append(np.array([0.1]*300))
    else:
        embedded_vector = embedding[embedding[0].isin(preprocessed_string)][embedding.columns[1:]].mean().values
        # print(type(embedded_vector))
        data.append(embedded_vector)
data = np.array(data)
print(data.shape)
labels = df.target

(97320, 300)

In [66]:
test_final_df = pd.DataFrame(data,columns=None)
test_final_df.shape

(97320, 300)

In [67]:
test_final_df.to_pickle('df_final_test.pkl')

In [47]:
test_final_df = pd.read_pickle('df_final_test.pkl')

In [68]:
print(test_final_df.shape)
test_final_df.head(2)

(97320, 300)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0.135491,0.096145,-0.013600,-0.095782,-0.018945,0.033373,0.074082,-0.002736,-0.035864,0.025673,...,0.028473,-0.003955,0.012527,0.017855,-0.007791,0.002627,0.013336,0.004036,-0.0041,0.001373
1,0.077924,0.053862,-0.011543,-0.057910,-0.086705,0.023605,0.095248,0.037181,-0.036629,-0.000733,...,0.004733,-0.018214,0.020190,0.004210,-0.018438,0.003914,0.002695,-0.005829,-0.0140,0.011967

In [69]:
final_pred = classifier.predict(test_final_df)

In [73]:
len(final_pred)
final_pred = [i[0] for i in final_pred]
final_pred[:5]

[0.00083357096, 0.0007523596, 0.18382111, 0.0219495, 0.28862673]

In [71]:
sample_submission = pd.read_csv('k_toxicity/sample_submission.csv')
print(sample_submission.shape)
sample_submission.head(2)

(97320, 2)

        id  prediction
0  7000000         0.0
1  7000001         0.0

In [74]:
sample_submission['prediction'] = final_pred

In [75]:
sample_submission.to_csv('submission_1.csv')